.main{
  width: 100%;
  height: 750px !important;
    background-color: rgb(0, 0, 0); 
}
.main1{
    width: 25%;
    height: 750px;
    background-color: black;
    float: left;
    overflow: auto;
    overflow-y: scroll;
}
.header{
    width: 100%;
    height: 55px;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid #999;
}
.bg{
    height: 40px;
    width: 40px;
    background-color: gray;
    border-radius: 50px;
    float: left;
    margin-left: 12px;
    margin-top: 10px;
}
.my{
    height: 36px;
    float: left;
    
}
.mys{
    float: left;
    margin-top: 30px;
    margin-left: -18px;
}
.mys img{
    height: 20px;
    
}
.snap-l{
    float: left;

}
.snap-l img{
    height: 37px;
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
    margin-left: 104px;
    margin-top: 9px;
}
.bchat{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: #0fadff;
    float: left;
    margin-left: 125px;
    margin-top: 10px;
}
.bchat img{
    height: 20px;
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
    margin-left: 9px;
    margin-top: 10px;
}
.header2{
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #999;

}
.header2 img{
    height: 14px;
    filter: invert(65%) sepia(6%) saturate(13%) hue-rotate(339deg) brightness(94%) contrast(89%);
    float: left;
    margin-left: 88px;
    margin-bottom: 0;
    margin-top: 5px;

}
.header2 h5{
    float: left;
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}
.srch{
    height: 65px;
    width: 100%;
    
}
.srch form input{
    height: 40px;
    width: 348px;
    margin-left: 10px;
    border-radius: 20px;
    padding-left: 35px;
    float: left;
    background-color: #1e1e1e;
    margin-top: 10px;
    border: 1px solid #1e1e1e;
}
.srch img{
    height: 20px;
    filter: invert(65%) sepia(6%) saturate(13%) hue-rotate(339deg) brightness(94%) contrast(89%);
    float: left;
    margin-left: -337px;
    margin-top: 19px;
}

.story1{
    height: 80px;
    width: 100%;
    background-color: rgb(30, 27, 27);
    border-bottom: 1px solid #999;
}
.story1bg{
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    margin-left: 15px;
    float: left;
    margin-top: 10px;
}
.story1 img{
    height: 60px;
}
.title1{
    float: left;
}
.text1{
    font-size: 16px;
    color: white;
    margin-top: 14px;
    margin-left: 10px;
    margin-bottom: 0px;

}
.bmess{
    height: 20px !important;
    margin-left: 8px;
    margin-top: 13px;
    float: left;
    filter: invert(52%) sepia(32%) saturate(5176%) hue-rotate(179deg) brightness(108%) contrast(101%);
}
.text2{
    color: white;
    font-size: 12px;
    float: left;
    margin-left: 9px;
    margin-top: 15px;
}
.full-stop {
    height: 20px !important;
    margin-left: 13px;
    margin-top: 12px;
    float: left;
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
}
.text3{
    color: white;
    font-size: 12px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
.camera{
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
    height: 20px !important;
    margin-left: 80px;
    margin-top: 10px;
    height: 20px;

}



.story2{
    height: 80px;
    width: 100%;
    background-color: rgb(30, 27, 27);
    border-bottom: 1px solid #999;
}
.story2bg{
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    margin-left: 15px;
    float: left;
    margin-top: 10px;
}
.story2 img{
    height: 60px;
}
.title1{
    float: left;
}
.text11{
    font-size: 16px;
    color: white;
    margin-top: 14px;
    margin-left: 10px;
    margin-bottom: 0px;

}
.bmess{
    height: 20px !important;
    margin-left: 8px;
    margin-top: 13px;
    float: left;
    filter: invert(52%) sepia(32%) saturate(5176%) hue-rotate(179deg) brightness(108%) contrast(101%);
}
.text22{
    color: white;
    font-size: 12px;
    float: left;
    margin-left: 9px;
    margin-top: 15px;
}
.full-stop-s {
    height: 20px !important;
    margin-left: 32px;
    margin-top: 12px;
    float: left;
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
}
.text33-s{
    color: white;
    font-size: 12px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
.camera-s{
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
    height: 20px !important;
    margin-left: 8px;
    margin-top: 10px;
    height: 20px;

}

.streak{
    height: 20px !important;
    margin-top: 5px;

}
.score{
    color: white;
    font-size: 12px;
    float: left;
    margin-left: 22px;
    margin-top: 14px;
}


.story3{
    height: 80px;
    width: 100%;
    background-color: rgb(30, 27, 27);
    border-bottom: 1px solid #999;
}
.story3bg{
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    margin-left: 15px;
    float: left;
    margin-top: 10px;
}
.story3 img{
    height: 60px;
}
.title1{
    float: left;
}
.text11{
    font-size: 16px;
    color: white;
    margin-top: 14px;
    margin-left: 10px;
    margin-bottom: 0px;

}
.bmess{
    height: 20px !important;
    margin-left: 8px;
    margin-top: 13px;
    float: left;
    filter: invert(52%) sepia(32%) saturate(5176%) hue-rotate(179deg) brightness(108%) contrast(101%);
}
.text22{
    color: white;
    font-size: 12px;
    float: left;
    margin-left: 9px;
    margin-top: 15px;
}
.full-stop {
    height: 20px !important;
    margin-left: 13px;
    margin-top: 12px;
    float: left;
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
}
.text33{
    color: white;
    font-size: 12px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
.camera{
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
    height: 20px !important;
    margin-left: 80px;
    margin-top: 10px;
    height: 20px;

}



.story4{
    height: 80px;
    width: 100%;
    background-color: rgb(30, 27, 27);
    border-bottom: 1px solid #999;
}
.story4bg{
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    margin-left: 15px;
    float: left;
    margin-top: 10px;
}
.story4 img{
    height: 60px;
}
.title1{
    float: left;
}
.text11{
    font-size: 16px;
    color: white;
    margin-top: 14px;
    margin-left: 10px;
    margin-bottom: 0px;

}
.bmess{
    height: 20px !important;
    margin-left: 8px;
    margin-top: 13px;
    float: left;
    filter: invert(52%) sepia(32%) saturate(5176%) hue-rotate(179deg) brightness(108%) contrast(101%);
}
.text22{
    color: white;
    font-size: 12px;
    float: left;
    margin-left: 9px;
    margin-top: 15px;
}
.full-stop {
    height: 20px !important;
    margin-left: 13px;
    margin-top: 12px;
    float: left;
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
}
.text33{
    color: white;
    font-size: 12px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
.camera{
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
    height: 20px !important;
    margin-left: 80px;
    margin-top: 10px;
    height: 20px;

}




.story5{
    height: 80px;
    width: 100%;
    background-color: rgb(30, 27, 27);
    border-bottom: 1px solid #999;
}
.story5bg{
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    margin-left: 15px;
    float: left;
    margin-top: 10px;
}



.story5 img{
    height: 60px;
}
.title1{
    float: left;
}
.text11{
    font-size: 16px;
    color: white;
    margin-top: 14px;
    margin-left: 10px;
    margin-bottom: 0px;

}
.bmess{
    height: 20px !important;
    margin-left: 8px;
    margin-top: 13px;
    float: left;
    filter: invert(52%) sepia(32%) saturate(5176%) hue-rotate(179deg) brightness(108%) contrast(101%);
}
.mess{
        height: 20px !important;
        margin-left: 8px;
        margin-top: 13px;
        float: left;
}
.text22{
    color: white;
    font-size: 12px;
    float: left;
    margin-left: 9px;
    margin-top: 15px;
}
.full-stop {
    height: 20px !important;
    margin-left: 13px;
    margin-top: 12px;
    float: left;
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
}
.text33{
    color: white;
    font-size: 12px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
.camera{
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
    height: 20px !important;
    margin-left: 80px;
    margin-top: 10px;
    height: 20px;

}

.story6{
    height: 80px;
    width: 100%;
    background-color: rgb(30, 27, 27);
    border-bottom: 1px solid #999;
}
.story6bg{
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    margin-left: 15px;
    float: left;
    margin-top: 10px;
}
.story6 img{
    height: 60px;
}
.title1{
    float: left;
}
.text1{
    font-size: 16px;
    color: white;
    margin-top: 14px;
    margin-left: 10px;
    margin-bottom: 0px;

}
.bmess{
    height: 20px !important;
    margin-left: 8px;
    margin-top: 13px;
    float: left;
    filter: invert(52%) sepia(32%) saturate(5176%) hue-rotate(179deg) brightness(108%) contrast(101%);
}
.text2{
    color: white;
    font-size: 12px;
    float: left;
    margin-left: 9px;
    margin-top: 15px;
}
.full-stop {
    height: 20px !important;
    margin-left: 13px;
    margin-top: 12px;
    float: left;
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
}
.text3{
    color: white;
    font-size: 12px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
.camera{
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
    height: 20px !important;
    margin-left: 80px;
    margin-top: 10px;
    height: 20px;

}



.story7{
    height: 80px;
    width: 100%;
    background-color: rgb(30, 27, 27);
    border-bottom: 1px solid #999;
}
.story7bg{
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    margin-left: 15px;
    float: left;
    margin-top: 10px;
}
.story7 img{
    height: 60px;
}
.title1{
    float: left;
}
.text1{
    font-size: 16px;
    color: white;
    margin-top: 14px;
    margin-left: 10px;
    margin-bottom: 0px;

}
.bmess{
    height: 20px !important;
    margin-left: 8px;
    margin-top: 13px;
    float: left;
    filter: invert(52%) sepia(32%) saturate(5176%) hue-rotate(179deg) brightness(108%) contrast(101%);
}
.text2-7{
    color: rgb(255, 0, 0);
    font-size: 12px;
    float: left;
    margin-left: 9px;
    margin-top: 15px;
}
.full-stop {
    height: 20px !important;
    margin-left: 13px;
    margin-top: 12px;
    float: left;
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
}
.text3{
    color: white;
    font-size: 12px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
.camera-7{
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
    height: 20px !important;
    margin-left: 54px;
    margin-top: 10px;
    height: 20px;

}

.story8{
    height: 80px;
    width: 100%;
    background-color: rgb(30, 27, 27);
    border-bottom: 1px solid #999;
}
.story8bg{
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    margin-left: 15px;
    float: left;
    margin-top: 10px;
}
.story8 img{
    height: 60px;
}
.title1{
    float: left;
}
.text1{
    font-size: 16px;
    color: white;
    margin-top: 14px;
    margin-left: 10px;
    margin-bottom: 0px;

}
.bmess{
    height: 20px !important;
    margin-left: 8px;
    margin-top: 13px;
    float: left;
    filter: invert(52%) sepia(32%) saturate(5176%) hue-rotate(179deg) brightness(108%) contrast(101%);
}
.text2-7{
    color: rgb(255, 0, 0);
    font-size: 12px;
    float: left;
    margin-left: 9px;
    margin-top: 15px;
}
.full-stop {
    height: 20px !important;
    margin-left: 13px;
    margin-top: 12px;
    float: left;
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
}
.text3{
    color: white;
    font-size: 12px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
.camera-7{
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
    height: 20px !important;
    margin-left: 54px;
    margin-top: 10px;
    height: 20px;

}





.story9{
    height: 80px;
    width: 100%;
    background-color: rgb(30, 27, 27);
    border-bottom: 1px solid #999;
}
.story9bg{
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    margin-left: 15px;
    float: left;
    margin-top: 10px;
}
.story9 img{
    height: 60px;
}
.title1{
    float: left;
}
.text11{
    font-size: 16px;
    color: white;
    margin-top: 14px;
    margin-left: 10px;
    margin-bottom: 0px;

}
.bmess{
    height: 20px !important;
    margin-left: 8px;
    margin-top: 13px;
    float: left;
    filter: invert(52%) sepia(32%) saturate(5176%) hue-rotate(179deg) brightness(108%) contrast(101%);
}
.text22{
    color: white;
    font-size: 12px;
    float: left;
    margin-left: 9px;
    margin-top: 15px;
}
.full-stop {
    height: 20px !important;
    margin-left: 13px;
    margin-top: 12px;
    float: left;
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
}
.text33{
    color: white;
    font-size: 12px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
.camera{
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
    height: 20px !important;
    margin-left: 80px;
    margin-top: 10px;
    height: 20px;

}

.story10{
    height: 80px;
    width: 100%;
    background-color: rgb(30, 27, 27);
    border-bottom: 1px solid #999;
}
.story10bg{
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    margin-left: 15px;
    float: left;
    margin-top: 10px;
}
.story10 img{
    height: 60px;
}
.title1{
    float: left;
}
.text11{
    font-size: 16px;
    color: white;
    margin-top: 14px;
    margin-left: 10px;
    margin-bottom: 0px;

}
.bmess{
    height: 20px !important;
    margin-left: 8px;
    margin-top: 13px;
    float: left;
    filter: invert(52%) sepia(32%) saturate(5176%) hue-rotate(179deg) brightness(108%) contrast(101%);
}
.text22{
    color: white;
    font-size: 12px;
    float: left;
    margin-left: 9px;
    margin-top: 15px;
}
.full-stop {
    height: 20px !important;
    margin-left: 13px;
    margin-top: 12px;
    float: left;
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
}
.text33{
    color: white;
    font-size: 12px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
.camera{
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
    height: 20px !important;
    margin-left: 80px;
    margin-top: 10px;
    height: 20px;

}


.story11{
    height: 80px;
    width: 100%;
    background-color: rgb(30, 27, 27);
    border-bottom: 1px solid #999;
}
.story11bg{
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    margin-left: 15px;
    float: left;
    margin-top: 10px;
}
.story11 img{
    height: 60px;
}
.title1{
    float: left;
}
.text11{
    font-size: 16px;
    color: white;
    margin-top: 14px;
    margin-left: 10px;
    margin-bottom: 0px;

}
.bmess{
    height: 20px !important;
    margin-left: 8px;
    margin-top: 13px;
    float: left;
    filter: invert(52%) sepia(32%) saturate(5176%) hue-rotate(179deg) brightness(108%) contrast(101%);
}
.text22{
    color: white;
    font-size: 12px;
    float: left;
    margin-left: 9px;
    margin-top: 15px;
}
.full-stop-s {
    height: 20px !important;
    margin-left: 32px;
    margin-top: 12px;
    float: left;
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
}
.text33-s{
    color: white;
    font-size: 12px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
.camera-s{
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(333deg) brightness(97%) contrast(102%);
    height: 20px !important;
    margin-left: 8px;
    margin-top: 10px;
    height: 20px;

}









.main2{
    width: 75%;
    height: 750px;
    background-color: rgb(0, 0, 0);
    float: left;
    background-image: url(chats\ image/773104695-1.webp);
    background-size: 1300px 800px;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.main2 img{
    height: 700px;

 }

/* .main22{
    height: 475px;
    width: 350px;
    background-color: rgba(244, 246, 247, 0.432);
    float: left;
    margin-left: 246px;
    margin-top: 137px;
}
.main22 img{
    height: 475px;
    width: 350px;
    float: left;
    height: 50px;
    width: 50px; */

}










 /* div {
    display:flex;
    justify-content:center;
    }
    #vid {
    height:100%;
    border:solid 2px black;
        height: 400px;
        width: 200px;
    }  */
     */
/* .div{
    height: 200px;
} */ 